body, html {
    font-family: Poppins-Regular, sans-serif;
    background: no-repeat url('images2.jpg') center;
}
.main {
    align-items: center;
    position: relative;
}


a {
	font-family: Poppins-Regular;
	font-size: 22px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;}
button {
	background-color: #85d2d4;
}
.main {
    display: block;
    width: 100%;
    font-family: Poppins-Bold;
    font-size: 25px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
  }
  .limiter {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .wrap {
    width: 520px;
    min-height: 100vh;
    background: rgb(250, 178, 202);
    border-radius: 2px;
    position: relative;
  }
  .main {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: calc(100% - 450);
    position: relative;
    z-index: 1;
  }
  
  .main::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #e79fee;
  }
  

  
    
  
  